@import "tailwindcss";

:root {
  --background: rgb(246, 241, 235);
  --foreground: rgb(64, 58, 52);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-familjen-grotesk);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-familjen-grotesk), sans-serif;
}
